fastapi[all]==0.112.2
uvicorn[standard]==0.15.0
pydantic==2.8.2
pytest==7.4.4
numpy==1.26.4
opencv-python==4.10.0.84
requests==2.31.0
httpx==0.28.1
boto3==1.36.20
-e git+https://github.com/toposoid/toposoid-python-lib.git@feature#egg=ToposoidCommon
-e git+https://github.com/toposoid/toposoid-pdf-analyzer.git@feature#egg=ToposoidPdfAnalyzer
